ion-header ion-toolbar {
    &::before {
        display: none;
    }
}

.logo {
    height: 190px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    img {
        width: 175px;
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    h1 {
        margin: auto;
        // width: 100%;
        color: var(--white);
        font-weight: 400;
        font-size: 2.2rem; 
        margin-top: 50px;

        span {
            font-weight: 600;
        }
    }
}

h2 {
    font-size: 1.1rem;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
    z-index: 2;
    color: var(--white);
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);
    margin: 0;
    margin-bottom: 34px;
    position: relative;
    z-index: 2;
    line-height: 23px;
}

.form ion-list {
    margin-bottom: 7px;

    ion-item {
        margin-bottom: 10px;

        .item_inner {
            align-items: flex-start;

            ion-icon {
                position: relative;
                top: 15px;
            }

            ion-textarea {
                margin: 0;
            }
        }
    }

}


.button.btn {
    text-transform: uppercase !important;
    font-size: .98rem;
    letter-spacing: 1px !important;
}
