<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'prayer_times' | translate}}
<!--                <ion-icon class="zmdi zmdi-refresh-alt end ion-text-end"></ion-icon>-->
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="banner">
        <h1 class="ion-text-center">04:20 PM</h1>
        <ion-row>
            <ion-col size="2" class="d-flex">
                <ion-button size="large" expand="block" class="btn end">
                    <ion-icon class="zmdi zmdi-chevron-left"></ion-icon>
                </ion-button>
            </ion-col>

            <ion-col size="8" class="ion-text-center">
                <p>November 14, 2017</p>
            </ion-col>

            <ion-col size="2">
                <ion-button size="large" expand="block" class="btn">
                    <ion-icon class="zmdi zmdi-chevron-right"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content class="bg_img" fullscreen>
    <ion-list lines="none">
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
          <ion-item>
            <div class="item_inner d-flex">
                <h2>Matins or mind night</h2>
                <h3 class="end">02:00 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Lauds or Dawn Prayer</h2>
                <h3 class="end">05:30 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Prime or Early Morning</h2>
                <h3 class="end">06:47 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Terce or Mid-Morning</h2>
                <h3 class="end">9:22 AM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Sext or Midday</h2>
                <h3 class="end">03:16 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>None or Mid-Afternoon </h2>
                <h3 class="end">03:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Vespers or Evening</h2>
                <h3 class="end">06:58 PM</h3>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h2>Compline or Night</h2>
                <h3 class="end">07:14 PM</h3>
            </div>
        </ion-item>
    </ion-list>
</ion-content>