<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Chapter 1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="text-box">
        <p><span>1</span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>

        <p><span>2</span>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>

        <p><span>3</span>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>

        <p><span>4</span>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>

        <p><span>5</span>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        </p>

        <p><span>6</span>
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
        </p>

        <p><span>7</span>
            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
        </p>


        <p><span>8</span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>

        <p><span>9</span>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>

        <p><span>10</span>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>

        <p><span>11</span>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>

        <p><span>12</span>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        </p>

        <p><span>13</span>
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
        </p>

        <p><span>14</span>
            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
        </p>

    </div>
</ion-content>
