ion-header ion-toolbar ion-title {
    .title_inner {
        ion-icon {
            color: var(--white);
            font-size: 1.4rem;
        }
    }
}

.logo {
    height: 100px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    img {
        width: 145px;
        display: block;
        margin: auto;
    }

    h1 {
        margin: auto;
        width: 100%;
        color: var(--white);
        font-weight: 400;
        font-size: 1.8rem;

        span {
            font-weight: 600;
        }
    }
}

.menu-item-container {
    position: relative;
    z-index: 2;

    ion-row {
        padding: 0px 6px 5px 6px;

        ion-col {
            padding: 6px;

            .menu-item {
                text-align: center;
                background: var(--item_bg);
                padding: 18px 5px;
                border-radius: 5px;

                img {
                    width: 43px;
                }

                p {
                    font-size: .7rem;
                    margin: 0;
                    overflow: hidden;
                    color: var(--white);
                    margin-top: 11px;
                }
            }
        }
    }
}