<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'prayers' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <ion-list lines="none">
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
          <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
          <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
          <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
          <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
          <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Peace</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for the Broken-Hearted</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Perseverance</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Self Control</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Your Children</h2>
            </div>
        </ion-item>
        <ion-item (click)="readprayers()">
            <div class="item_inner">
                <h2>Prayer for Loving Like Jesus</h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
