<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'podcast' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">

  <ion-list>
    <ion-item *ngFor="let pod of pods">
      <ion-label>
        Uploaded By
        <p>{{ pod.uploader.name }}</p>
      </ion-label>
      <a color="primary" slot="end" href="http://office.holyhillchapelag.com/public/uploads/audios/{{ pod.title }}">Download</a>
    </ion-item>
  </ion-list>
 
</ion-content>
