<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'video' | translate}}
<!--                <ion-icon class="zmdi zmdi-more-vert end ion-text-end"></ion-icon>-->
            </div>
        </ion-title>
    </ion-toolbar>

    <ion-segment [(ngModel)]="video" lines="none" mode="md">
        <ion-segment-button value="movies" mode="md">
            <ion-label>{{'movies' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="clips" mode="md">
            <ion-label>{{'short_clips' | translate}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content class="bg_img" fullscreen>
    <div [ngSwitch]="video">
        <ion-list lines="none" *ngSwitchCase="'movies'">
            <ion-item>
                <div class="item_inner">
                    <div class="video_box center_img">
                        <img src="assets/imgs/video-1.png" class="crop_img">
                    </div>
                    <div class="video_details">
                        <h2>Miracles From Heaven</h2>
                        <p>02:20 Hrs</p>
                        <ion-button size="large" expand="block" class="btn">
                            <ion-icon class="zmdi zmdi-play"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-item>


            <ion-item>
                <div class="item_inner">
                    <div class="video_box center_img">
                        <img src="assets/imgs/video-2.png" class="crop_img">
                    </div>
                    <div class="video_details">
                        <h2>Innocence of Christians</h2>
                        <p>02:20 Hrs</p>
                        <ion-button size="large" expand="block" class="btn">
                            <ion-icon class="zmdi zmdi-play"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-item>
              <ion-item>
                <div class="item_inner">
                    <div class="video_box center_img">
                        <img src="assets/imgs/video-1.png" class="crop_img">
                    </div>
                    <div class="video_details">
                        <h2>Miracles From Heaven</h2>
                        <p>02:20 Hrs</p>
                        <ion-button size="large" expand="block" class="btn">
                            <ion-icon class="zmdi zmdi-play"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-item>


            <ion-item>
                <div class="item_inner">
                    <div class="video_box center_img">
                        <img src="assets/imgs/video-2.png" class="crop_img">
                    </div>
                    <div class="video_details">
                        <h2>Innocence of Christians</h2>
                        <p>02:20 Hrs</p>
                        <ion-button size="large" expand="block" class="btn">
                            <ion-icon class="zmdi zmdi-play"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-item>

              <ion-item>
                <div class="item_inner">
                    <div class="video_box center_img">
                        <img src="assets/imgs/video-1.png" class="crop_img">
                    </div>
                    <div class="video_details">
                        <h2>Miracles From Heaven</h2>
                        <p>02:20 Hrs</p>
                        <ion-button size="large" expand="block" class="btn">
                            <ion-icon class="zmdi zmdi-play"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-item>

        </ion-list>
    </div>
</ion-content>