ion-header {
    min-width: 108px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.47);
        backdrop-filter: blur(4px);

    }

    ion-toolbar {
        &::before {
            display: none;
        }

        ion-title {
            .title_inner {
                ion-icon {
                    font-size: 1.5rem;
                }

            }
        }
    }

    ion-segment {
        border: none !important;
        background: none !important;

        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: 1.1rem;
            font-weight: 500;
            color: var(--text-light) !important;
            text-transform: unset !important;
            letter-spacing: 0;
            --background-checked: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            --indicator-color: var(--transparent) !important;
            --indicator-box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --color-hover: var(--white);
            --background-hover: var(--transparent) !important;
            --color-checked: var(--white);

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 0;
                height: 5px;
                display: block;
                background: var(--primary) !important;
                transition: all .3s;
            }

            &.segment-button-checked {
                color: var(--white) !important;
                opacity: 1;


                &::after {
                    width: 100px
                }
            }

        }
    }
}


ion-list {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    background: none;
    padding-top: 10px;

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        padding: 0;
        margin-bottom: 10px;
        background: var(--item_bg);

        .item_inner {
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 251px;

            .video_box {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 180px;
            }

            .video_details {
                padding: 40px 25px 15px 25px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;

                h2 {
                    margin: 0;
                    color: var(--white);
                    font-size: 1.11rem;
                    font-weight: 500;
                    padding-bottom: 4px;
                    width: calc(100% - 53px);
                }

                p {
                    margin: 0;
                    color: var(--white);
                    opacity: .7;
                    font-size: .85rem;
                    letter-spacing: .5px;
                }

                .button.btn {
                    width: 53px;
                    height: 53px;
                    --border-radius: 50% !important;
                    position: absolute;
                    top: 0;
                    right: 24px;
                    --box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.3);

                    ion-icon {
                        text-align: center;
                        font-size: 1.9rem;

                        &.zmdi-play {
                            position: relative;
                            left: 3px;
                        }

                    }
                }

            }
        }
    }
}