ion-content {
    --ion-background-color: #f9fafb;
    // --ion-background-image: url("../../../../assets/images/splash.png");
}

ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-image: url("../../../assets/imgs/Blur_BG.png");
    background-repeat: repeat;
}

ion-slide {
    min-height: 40%;
}

.splash-intro {
    min-height: 30%;
}

ion-img {
    width: 10rem;
    height: 10rem;
    margin: auto;
}

h5 {
    margin: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #223e5c;
}

