.book_row {
    padding: 8px;
    padding-top: 10px;
    position: relative;
    z-index: 2;

    ion-row {
        ion-col {
            .book {
                border-radius: 4px;
                background: var(--item_bg);
                padding: 20px;

                .book_img {
                    width: 105px;
                    height: 153px;
                    margin: 0 auto;
                    margin-bottom: 16px;
                    box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.53);
                }

                p {
                    margin: 0;
                    color: var(--white);
                    font-size: .85rem;
                    letter-spacing: .5px;
                }
            }
        }
    }
}