<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'events' | translate}}
            </div>
        </ion-title>
    </ion-toolbar>

    <ion-segment [(ngModel)]="events_tab" lines="none" mode="md">
        <ion-segment-button value="upcoming" mode="md">
            <ion-label>{{'upcoming' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="past" mode="md">
            <ion-label>{{'past' | translate}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg_img" fullscreen>
    <div class="tab_content" [ngSwitch]="events_tab">
        <ion-list lines="none" *ngSwitchCase="'upcoming'">
            <ion-item (click)="eventsinfo()">
                <div class="item_inner d-flex">
                    <div class="events_date">
                        <h2>28<sup>th</sup> <span>SEPT</span></h2>
                    </div>
                    <div class="text_box">
                        <h3>Breakfast meeting, 40days JFP</h3>
                        <p> Turning trials into testimonies </p>
                    </div>
                    
                </div>
            </ion-item>

        </ion-list>


        <ion-list lines="none" *ngSwitchCase="'past'">
            <ion-item (click)="eventsinfo()">
                <div class="item_inner d-flex">
                    <div class="events_date">
                        <h2>24<sup>th</sup> <span>AUG</span></h2>
                    </div>
                    <div class="events_date">
                        <h2> <span>To</span></h2>
                    </div>
                    <div class="events_date">
                        <h2>30<sup>th</sup> <span>AUG</span></h2>
                    </div>
                    <div class="text_box">
                        <h3>Season of Abundance</h3>
                        <!-- <p> Supernatural deliverance (Obadiah 1:17, Mark 16:17-18) </p> -->
                    </div>
                </div>
            </ion-item>
            
        </ion-list>
        <ion-list lines="none" *ngSwitchCase="'past'">
            <ion-item (click)="eventsinfo()">
                <div class="item_inner d-flex">
                    <div class="events_date">
                        <h2>21<sup>st</sup> <span>JULY</span></h2>
                    </div>
                    <div class="events_date">
                        <h2> <span>To</span></h2>
                    </div>
                    <div class="events_date">
                        <h2>21<sup>st</sup> <span>JULY</span></h2>
                    </div>
                    <div class="text_box">
                        <h3>Supernatural Festival</h3>
                        <p> Supernatural deliverance (Obadiah 1:17, Mark 16:17-18) </p>
                    </div>
                </div>
            </ion-item>
            
        </ion-list>
    </div>
</ion-content>