<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'books' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="bg_img">

    <div class="book_row" >
        <ion-row>
            <ion-col size="6" *ngFor="let b of filtered | keyvalue">
                <div class="book" (click)="bookinfo()">
                    <div class="book_img center_img">
                        <img src="assets/imgs/book1.png" class="crop_img" height="105px" width="153px">
                    </div>
                    <p class="ion-text-center">{{b.title}}</p>
                </div>
            </ion-col>   
           
        </ion-row>
    </div>
</ion-content>