<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'books' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
  <div class="details" *ngIf="books">
    <div class="book">
      <div class="book_img center_img">
        <img [src]="book.cover" class="crop_img" />
      </div>
      <p class="ion-text-center">{{book.title}}</p>
    </div>

    <div class="description">
      <!-- <h2>Meem is for Mercy</h2> -->
      <p>{{book.description}}</p>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button size="large" expand="full" class="btn"
    >{{'download' | translate}}</ion-button
  >
</ion-footer>
