<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="logo ion-text-center">
        <!--        <img src="assets/imgs/logo.png">-->
        <h1 class="ion-text-center">The<span>Church</span></h1>
    </div>
    <h2 class="ion-text-center ion-text-uppercase">{{'forgot2' | translate}} <strong>{{'password?' | translate}}</strong></h2>
    <p class="ion-text-center">
        {{'enter_your_email_address' | translate}}
        <br>
        {{'you_will_receive_an_email_with_link' | translate}}
        <br>
        {{'to_reset_password' | translate}}
    </p>
    <div class="form">
        <ion-list lines="none">

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <ion-input mode="md" type="email" placeholder="{{'e_mail' | translate}}"></ion-input>
                </div>
            </ion-item>
        </ion-list>
        <ion-button size="large" expand="full" class="btn" (click)="home()">{{'submit' | translate}}</ion-button>
    </div>
</ion-content>