<ion-app [dir]="rtlSide">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header> 
                <ion-menu-toggle auto-hide="false">
                    <div class="profile_box d-flex" (click)="profile()">
                        <div class="img_box center_img">
                            <img src="assets/imgs/profile_pic.png" class="crop_img">
                        </div>

                        <div class="text_box">
                            <h2>John Mensah</h2>
                            <p>{{'view_profile' | translate}}</p>
                        </div>
                    </div>
                </ion-menu-toggle>
            </ion-header>
            <ion-content>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item mode="ios" detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
                            <div class="item_inner d-flex">
                                <div class="img_box ion-text-start">
                                    <!-- <img data-src="{{p.image}}"> -->
                                </div>
                                <h2>{{ p.title | translate}}</h2>
                            </div>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer class="ion-no-border">
                <!-- <div class="buy_this_app" *ngIf="config.showBuyPromt" (click)="buyAppAction()">
                    <h2>
                        <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
                        {{"buy_this_app" | translate}}
                    </h2>
                </div> -->
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>