<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'back' | translate}} 
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="scholar">
        <div class="scholar_img center_img">
            <img src="assets/imgs/f3.png" class="crop_img">
        </div>
        <p class="ion-text-center">Father Johnson</p>
    </div>

    <div class="description">
        <h2>About Father</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>


    <div class="description">
        <h2>Glimpse of God</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="chatscreen">{{'start_chat' | translate}}</ion-button>
</ion-footer>