<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="logo ion-text-center">
<!--        <img src="assets/imgs/logo.png">-->
           <h1 class="ion-text-center">The<span>Church</span></h1>
    </div>
    <h2 class="ion-text-center ion-text-uppercase">{{'give_your' | translate}} <strong>{{'feedback' | translate}}</strong></h2>
    <p class="ion-text-center">
        {{'feedback_text_1' | translate}}
        <br>
        {{'feedback_text_2' | translate}}
    </p>
    <div class="form">
        <ion-list lines="none">

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <ion-textarea rows="7" mode="md" type="text" placeholder="{{'your_message' | translate}}"></ion-textarea>
                </div>
            </ion-item>
        </ion-list>
        <ion-button size="large" expand="full" class="btn">{{'submit' | translate}}</ion-button>
    </div>
</ion-content>